* {
    margin: 0;
    padding: 0;

}

.nav-item {
    font-size: 20px;
    color: #777777;
}
.Pro {
    color: #4A4A4A;
}
.Digital {
    position: absolute;
}

.slider-item {
    left: 50%!important;
    top: 50%;
    transform: translate(-50%, -50%);
}
.button-main {
    padding: 13px 33px!important;
    background: #289BDE!important;
    color: white!important;
    border-radius: 5px!important;
    border: 1px solid #289BDE!important;
}
.slider-content {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: white;
    background-color: rgba(29, 29, 29, 0.7);
}
/* course style start */
.course-card-text {
    padding: 32px 24px;
}

/* course style end */