* {
    margin: 0;
    padding: 0;

}
section h1 {
    font-size: 65px;
    line-height: 85px;
    font-weight: 600;

}
section h2 {
    font-size: 45px;
    line-height: 60px;
    font-weight: 600;
    color: #1D1D1D;
}

.nav-item {
    font-size: 20px;
    color: #777777;
}
.Pro {
    color: #4A4A4A;
}
.Digital {
    position: absolute;
}

/*slider start*/
.slider-item {
    left: 50%!important;
    top: 50%;
    transform: translate(-50%, -50%);
}
.button-main {
    padding: 13px 33px!important;
    background: #289BDE!important;
    color: white!important;
    border-radius: 5px!important;
    border: 1px solid #289BDE!important;
}
.slider-content {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: white;
    background-color: rgba(29, 29, 29, 0.7);

}
 /*slider end*/

/* course style start */
.Course-card .card-body  {

}
.Course-card .card-body h3 {
    font-size: 25px;
    line-height: 38px;
    font-weight: 600;

}
.Course-card .card-body p {

}
.Course-card .card-body a {
    color: #289BDE;
    font-size: 18px;
    line-height: 27px;
    font-weight: 600;
}

/* course style end */

/* register start */
.register {
    background: #289BDE;
    border-radius: 5px;
    color: white;
}

.register-button {

    background-color: white!important;
    border: 1px solid white!important;
    color: #289BDE!important;
}
.modal-button{
    text-align: right;
}
.modal {
    color: black;
}


/* register end */


/* footer start  */

.footer {
    background-color:#161616 ;
    color: white;
}
.section {
    padding: 130px 0px;
}
.footer-iteam h3 {
    font-size: 40px;
    line-height: 60px;
    margin-bottom: 20px;
}
footer {
    display: block;
}
.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0px 20px;
}
.text-center {
    text-align: center!important;
}
.social-link {
    color: white;
    
}

.social-media {
    display: flex;
    font-size: 30px;
    gap: 25px;
    justify-content: center;
}
.Ploicy {
    text-decoration: none;
}
/* footer end */

